<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>equipment_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,96}</string>
                <key>spriteSourceSize</key>
                <string>{171,96}</string>
                <key>textureRect</key>
                <string>{{316,185},{171,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_class_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{268,344},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_class_icon_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{78,78}</string>
                <key>textureRect</key>
                <string>{{268,424},{78,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_frame_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,182}</string>
                <key>spriteSourceSize</key>
                <string>{181,182}</string>
                <key>textureRect</key>
                <string>{{316,1},{181,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,132}</string>
                <key>spriteSourceSize</key>
                <string>{130,132}</string>
                <key>textureRect</key>
                <string>{{1,370},{130,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,120}</string>
                <key>spriteSourceSize</key>
                <string>{131,120}</string>
                <key>textureRect</key>
                <string>{{135,370},{131,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_list_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{456,341},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_list_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,55}</string>
                <key>spriteSourceSize</key>
                <string>{341,55}</string>
                <key>textureRect</key>
                <string>{{259,1},{341,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_list_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,26}</string>
                <key>spriteSourceSize</key>
                <string>{304,26}</string>
                <key>textureRect</key>
                <string>{{499,1},{304,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,46}</string>
                <key>spriteSourceSize</key>
                <string>{109,46}</string>
                <key>textureRect</key>
                <string>{{316,283},{109,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mages_class_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,47}</string>
                <key>spriteSourceSize</key>
                <string>{48,47}</string>
                <key>textureRect</key>
                <string>{{403,388},{48,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mages_class_icon_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{348,331},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minister_class_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,45}</string>
                <key>spriteSourceSize</key>
                <string>{49,45}</string>
                <key>textureRect</key>
                <string>{{405,341},{49,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minister_class_icon_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,53}</string>
                <key>spriteSourceSize</key>
                <string>{56,53}</string>
                <key>textureRect</key>
                <string>{{348,388},{56,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>select_stage_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,367}</string>
                <key>spriteSourceSize</key>
                <string>{256,367}</string>
                <key>textureRect</key>
                <string>{{1,1},{256,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_class_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{49,52}</string>
                <key>textureRect</key>
                <string>{{348,446},{49,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warrior_class_icon_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,59}</string>
                <key>spriteSourceSize</key>
                <string>{56,59}</string>
                <key>textureRect</key>
                <string>{{427,283},{56,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>heroSelect.png</string>
            <key>size</key>
            <string>{526,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc9ce811ef571dfe295976ae17935110:75f454655ab7aa856c1fe9d9ea2a2cfb:76a2cfdff18db07000188e82f15ef49c$</string>
            <key>textureFileName</key>
            <string>heroSelect.png</string>
        </dict>
    </dict>
</plist>
