<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{141,296},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,293}</string>
                <key>spriteSourceSize</key>
                <string>{211,293}</string>
                <key>textureRect</key>
                <string>{{1,1},{211,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,32}</string>
                <key>spriteSourceSize</key>
                <string>{138,32}</string>
                <key>textureRect</key>
                <string>{{1,296},{138,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{213,333}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49243012200a61c23468f9aad661f24f:a4bc01fecb5dfbc83ea38d0840957175:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
