<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4V4_team_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,55}</string>
                <key>spriteSourceSize</key>
                <string>{48,55}</string>
                <key>textureRect</key>
                <string>{{782,458},{48,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4V4_team_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,67}</string>
                <key>spriteSourceSize</key>
                <string>{53,67}</string>
                <key>textureRect</key>
                <string>{{780,254},{53,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4V4_team_dc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{124,484},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4V4_team_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,55}</string>
                <key>spriteSourceSize</key>
                <string>{49,55}</string>
                <key>textureRect</key>
                <string>{{725,459},{49,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>4v4_bg_dc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{62,51}</string>
                <key>textureRect</key>
                <string>{{780,323},{62,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>been_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,59}</string>
                <key>spriteSourceSize</key>
                <string>{176,59}</string>
                <key>textureRect</key>
                <string>{{293,338},{176,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>counter_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,70}</string>
                <key>spriteSourceSize</key>
                <string>{387,70}</string>
                <key>textureRect</key>
                <string>{{1,412},{387,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>counter_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,72}</string>
                <key>spriteSourceSize</key>
                <string>{84,72}</string>
                <key>textureRect</key>
                <string>{{651,385},{84,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>counter_no_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{799,41},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>games_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,17}</string>
                <key>spriteSourceSize</key>
                <string>{16,17}</string>
                <key>textureRect</key>
                <string>{{191,484},{16,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{649,254},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_frame_unknown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,72}</string>
                <key>spriteSourceSize</key>
                <string>{42,72}</string>
                <key>textureRect</key>
                <string>{{725,385},{42,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invatation_number_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{149,484},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invitation_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,5}</string>
                <key>spriteSourceSize</key>
                <string>{6,5}</string>
                <key>textureRect</key>
                <string>{{149,506},{6,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invitation_information_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,21}</string>
                <key>spriteSourceSize</key>
                <string>{67,21}</string>
                <key>textureRect</key>
                <string>{{1,484},{67,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invtation_information_weixin_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{651,471},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{70,484},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>offline_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,17}</string>
                <key>spriteSourceSize</key>
                <string>{15,17}</string>
                <key>textureRect</key>
                <string>{{209,484},{15,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{97,484},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>omline_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,17}</string>
                <key>spriteSourceSize</key>
                <string>{14,17}</string>
                <key>textureRect</key>
                <string>{{226,484},{14,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,55}</string>
                <key>spriteSourceSize</key>
                <string>{176,55}</string>
                <key>textureRect</key>
                <string>{{471,338},{176,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_interface_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,18}</string>
                <key>spriteSourceSize</key>
                <string>{21,18}</string>
                <key>textureRect</key>
                <string>{{171,484},{21,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_interface_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,110}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{390,399},{115,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_list_bg_dc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,290}</string>
                <key>spriteSourceSize</key>
                <string>{409,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{409,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_message_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{799,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_team_interface_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,251}</string>
                <key>spriteSourceSize</key>
                <string>{175,251}</string>
                <key>textureRect</key>
                <string>{{622,1},{175,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_team_interface_bg_dc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,65}</string>
                <key>spriteSourceSize</key>
                <string>{69,65}</string>
                <key>textureRect</key>
                <string>{{769,387},{69,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_team_interface_bg_dc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,116}</string>
                <key>spriteSourceSize</key>
                <string>{142,116}</string>
                <key>textureRect</key>
                <string>{{507,395},{142,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_team_interface_bg_dc3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,327}</string>
                <key>spriteSourceSize</key>
                <string>{335,327}</string>
                <key>textureRect</key>
                <string>{{293,1},{335,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>team_matching.png</string>
            <key>size</key>
            <string>{838,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e61cd44dc8c4742b3cf6745d64783a64:beb8ea2c957cb222a54aa3b16ee0d241:62fc0a320cec03afa36a4ba852a5ff86$</string>
            <key>textureFileName</key>
            <string>team_matching.png</string>
        </dict>
    </dict>
</plist>
