<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bingshiluanzhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wuxuefantian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{223,1},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chenjingchou.png</string>
            <key>size</key>
            <string>{444,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b440c479f8b2f4ecaf99aa2d687ca7fa:3a26d25f471534aba3b255ad621c9c74:0ac1552e8335911bb55af693ae5b4865$</string>
            <key>textureFileName</key>
            <string>chenjingchou.png</string>
        </dict>
    </dict>
</plist>
