<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defence.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{223,1},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{445,1},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>neutral.png</string>
            <key>size</key>
            <string>{666,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3fe7b163add29be476dd46dc5110ec5b:08b1a67d860f59b6ebe31094e1e4d94b:0c035968e5ce0922294138569ed78453$</string>
            <key>textureFileName</key>
            <string>neutral.png</string>
        </dict>
    </dict>
</plist>
