<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dilingbiyou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengmingfazhen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{223,1},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fengshaganlinshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{445,1},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huanhunzhou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{667,1},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huofengluoxia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{1,204},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huohzhongquli.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{223,204},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huolingtianyan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{445,204},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>huoyanwaiyi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{667,204},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>liehuoshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{1,407},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lieyangongming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{223,407},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>linglishifang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{445,407},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nvwatizhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{667,407},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nvwazhuanshi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{1,610},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>qiliaoshu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{223,610},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>riboxishanru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{445,610},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shipojingtian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{667,610},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taolandongdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{1,813},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wanwufusu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{223,813},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xinghuoliaoyuan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{445,813},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zhuquezhanchi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,201}</string>
                <key>spriteSourceSize</key>
                <string>{220,201}</string>
                <key>textureRect</key>
                <string>{{667,813},{220,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yuxiaoxue.png</string>
            <key>size</key>
            <string>{888,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b8f6c969de3fc117ffaac40d70c6963:c65afd371ef5257b0bd9a6101a3fa187:6114ee003ef64c470d4c4f91907d16ae$</string>
            <key>textureFileName</key>
            <string>yuxiaoxue.png</string>
        </dict>
    </dict>
</plist>
