<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chenjingchou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{185,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 0 1 6 0 3 4 5 6 3 4 6 6 7 0 3 1 2 0 7 8</string>
                <key>vertices</key>
                <string>90 34 90 63 63 90 39 90 0 51 0 9 38 1 46 0 65 0</string>
                <key>verticesUV</key>
                <string>275 35 275 64 248 91 224 91 185 52 185 10 223 2 231 1 250 1</string>
            </dict>
            <key>jiaojing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{93,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>3 5 6 3 4 5 1 3 6 1 2 3 0 1 6</string>
                <key>vertices</key>
                <string>90 90 40 90 6 56 15 24 0 23 0 0 90 0</string>
                <key>verticesUV</key>
                <string>183 91 133 91 99 57 108 25 93 24 93 1 183 1</string>
            </dict>
            <key>yuxiaoxue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
                <key>triangles</key>
                <string>1 3 4 1 2 3 0 1 4</string>
                <key>vertices</key>
                <string>90 90 42 90 0 69 0 0 90 0</string>
                <key>verticesUV</key>
                <string>91 91 43 91 1 70 1 1 91 1</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{276,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be2c3c0ad5a7231df2d669365a487f36:8a09d87f8b5242739823fd2983907509:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
