<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_bg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,47}</string>
                <key>spriteSourceSize</key>
                <string>{17,47}</string>
                <key>textureRect</key>
                <string>{{280,476},{17,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_bg_dc2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{240,476},{38,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_collection_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,52}</string>
                <key>spriteSourceSize</key>
                <string>{43,52}</string>
                <key>textureRect</key>
                <string>{{463,434},{43,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_collection_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,29}</string>
                <key>spriteSourceSize</key>
                <string>{44,29}</string>
                <key>textureRect</key>
                <string>{{466,403},{44,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_collection_bg_dc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,22}</string>
                <key>spriteSourceSize</key>
                <string>{37,22}</string>
                <key>textureRect</key>
                <string>{{329,476},{37,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_collection_bg_dc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,290}</string>
                <key>spriteSourceSize</key>
                <string>{391,290}</string>
                <key>textureRect</key>
                <string>{{1,1},{391,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_collection_bg_highlights.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,1}</string>
                <key>spriteSourceSize</key>
                <string>{337,1}</string>
                <key>textureRect</key>
                <string>{{1,414},{337,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_collection_bg_option.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,47}</string>
                <key>spriteSourceSize</key>
                <string>{27,47}</string>
                <key>textureRect</key>
                <string>{{470,247},{27,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_collection_bg_texture.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{366,52}</string>
                <key>spriteSourceSize</key>
                <string>{366,52}</string>
                <key>textureRect</key>
                <string>{{1,293},{366,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_display_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,37}</string>
                <key>spriteSourceSize</key>
                <string>{81,37}</string>
                <key>textureRect</key>
                <string>{{474,1},{81,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_display_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,32}</string>
                <key>spriteSourceSize</key>
                <string>{53,32}</string>
                <key>textureRect</key>
                <string>{{375,410},{53,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,65}</string>
                <key>spriteSourceSize</key>
                <string>{333,65}</string>
                <key>textureRect</key>
                <string>{{1,347},{333,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_number_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,57}</string>
                <key>spriteSourceSize</key>
                <string>{133,57}</string>
                <key>textureRect</key>
                <string>{{240,417},{133,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_number_bg_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,57}</string>
                <key>spriteSourceSize</key>
                <string>{133,57}</string>
                <key>textureRect</key>
                <string>{{369,303},{133,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_select_programme_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,36}</string>
                <key>spriteSourceSize</key>
                <string>{161,36}</string>
                <key>textureRect</key>
                <string>{{474,84},{161,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_use_number_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,25}</string>
                <key>spriteSourceSize</key>
                <string>{67,25}</string>
                <key>textureRect</key>
                <string>{{375,465},{67,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_card_option_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,237}</string>
                <key>spriteSourceSize</key>
                <string>{78,237}</string>
                <key>textureRect</key>
                <string>{{394,1},{78,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_name_option_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,237}</string>
                <key>spriteSourceSize</key>
                <string>{78,237}</string>
                <key>textureRect</key>
                <string>{{1,417},{78,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_label_interface_dc1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{409,362},{55,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_label_interface_dc2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{49,52}</string>
                <key>textureRect</key>
                <string>{{409,414},{49,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>left_label_interface_dc3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,5}</string>
                <key>spriteSourceSize</key>
                <string>{16,5}</string>
                <key>textureRect</key>
                <string>{{470,296},{16,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_label_interface_dc4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,11}</string>
                <key>spriteSourceSize</key>
                <string>{15,11}</string>
                <key>textureRect</key>
                <string>{{336,347},{15,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>paging_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,71}</string>
                <key>spriteSourceSize</key>
                <string>{46,71}</string>
                <key>textureRect</key>
                <string>{{336,362},{46,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>show_card_programme_button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,39}</string>
                <key>spriteSourceSize</key>
                <string>{45,39}</string>
                <key>textureRect</key>
                <string>{{466,362},{45,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>translucent_fillet_frame_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,61}</string>
                <key>spriteSourceSize</key>
                <string>{74,61}</string>
                <key>textureRect</key>
                <string>{{394,240},{74,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>deck.png</string>
            <key>size</key>
            <string>{512,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3613a28144f696a04375e92750e8447d:003f3dc48d47724cdd987a8087eb926e:a93842fab2177a84edff542986cb0054$</string>
            <key>textureFileName</key>
            <string>deck.png</string>
        </dict>
    </dict>
</plist>
