<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{474,332},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{13,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{218,747},{13,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{470,73},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{470,109},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{452,925},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{477,925},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{464,145},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{464,181},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{464,217},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{464,253},{23,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>armor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,35}</string>
                <key>spriteSourceSize</key>
                <string>{28,35}</string>
                <key>textureRect</key>
                <string>{{470,1},{28,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{260,936},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{285,936},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buff3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{310,936},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{238,330}</string>
                <key>spriteSourceSize</key>
                <string>{262,330}</string>
                <key>textureRect</key>
                <string>{{263,392},{238,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,83}</string>
                <key>spriteSourceSize</key>
                <string>{33,83}</string>
                <key>textureRect</key>
                <string>{{299,340},{33,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_level_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{155,845},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_select_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,353}</string>
                <key>spriteSourceSize</key>
                <string>{260,353}</string>
                <key>textureRect</key>
                <string>{{1,392},{260,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_select_effect2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,389}</string>
                <key>spriteSourceSize</key>
                <string>{296,389}</string>
                <key>textureRect</key>
                <string>{{1,1},{296,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_life_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{133,12}</string>
                <key>spriteSourceSize</key>
                <string>{147,12}</string>
                <key>textureRect</key>
                <string>{{450,143},{133,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_life_bar_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,18}</string>
                <key>spriteSourceSize</key>
                <string>{140,18}</string>
                <key>textureRect</key>
                <string>{{450,1},{140,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>config.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{52,51}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{450,278},{52,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>counter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{405,933},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>counter_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,35}</string>
                <key>spriteSourceSize</key>
                <string>{325,35}</string>
                <key>textureRect</key>
                <string>{{413,1},{325,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>deck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{405,885},{46,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>discard_pile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{414,822},{60,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>draw_pile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{60,53}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{93,845},{60,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exhaust_pile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{58,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{413,332},{58,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>function_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{194,765},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_icon_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,112}</string>
                <key>spriteSourceSize</key>
                <string>{337,112}</string>
                <key>textureRect</key>
                <string>{{299,1},{337,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_life_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,16}</string>
                <key>spriteSourceSize</key>
                <string>{215,16}</string>
                <key>textureRect</key>
                <string>{{1,747},{215,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_life_bar_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,18}</string>
                <key>spriteSourceSize</key>
                <string>{213,18}</string>
                <key>textureRect</key>
                <string>{{263,724},{213,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{52,47}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{351,885},{52,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{211,844},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{267,896},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,75}</string>
                <key>spriteSourceSize</key>
                <string>{77,75}</string>
                <key>textureRect</key>
                <string>{{273,744},{77,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_frame_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,73}</string>
                <key>spriteSourceSize</key>
                <string>{76,73}</string>
                <key>textureRect</key>
                <string>{{273,821},{76,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,59}</string>
                <key>spriteSourceSize</key>
                <string>{60,59}</string>
                <key>textureRect</key>
                <string>{{92,900},{60,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pile_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1,857},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pile_number_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,39}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{452,884},{39,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{99,78}</string>
                <key>spriteSourceSize</key>
                <string>{103,86}</string>
                <key>textureRect</key>
                <string>{{93,765},{99,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{470,38},{33,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>target_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,765},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{154,901},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thew2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{307,896},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thew_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{430,744},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thew_frame_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,76}</string>
                <key>spriteSourceSize</key>
                <string>{76,76}</string>
                <key>textureRect</key>
                <string>{{352,744},{76,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thew_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{351,822},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>type_artifact.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{469,850},{25,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>type_attack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,27}</string>
                <key>spriteSourceSize</key>
                <string>{26,27}</string>
                <key>textureRect</key>
                <string>{{384,340},{26,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>type_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{210,934},{25,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>type_talent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,23}</string>
                <key>spriteSourceSize</key>
                <string>{25,23}</string>
                <key>textureRect</key>
                <string>{{235,934},{25,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>、.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,34}</string>
                <key>spriteSourceSize</key>
                <string>{23,34}</string>
                <key>textureRect</key>
                <string>{{469,814},{23,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>combat.png</string>
            <key>size</key>
            <string>{502,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:870bb3f977eb679a48fba9c77d153bd5:82cc44042a772c704248c3f63eeb6699:c7df78f3faa1b8e688cdf67163665c40$</string>
            <key>textureFileName</key>
            <string>combat.png</string>
        </dict>
    </dict>
</plist>
