<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{216,36},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,298}</string>
                <key>spriteSourceSize</key>
                <string>{213,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{213,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_life_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,6}</string>
                <key>spriteSourceSize</key>
                <string>{160,6}</string>
                <key>textureRect</key>
                <string>{{237,200},{160,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_life_bar_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,6}</string>
                <key>spriteSourceSize</key>
                <string>{162,6}</string>
                <key>textureRect</key>
                <string>{{242,36},{162,6}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chenjingchou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{185,424},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>config.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{54,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{63,548},{54,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>counter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{125,485},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>deck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,471},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>discard_pile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,533},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>draw_pile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{63,486},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exhaust_pile.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{125,527},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_life_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,19}</string>
                <key>spriteSourceSize</key>
                <string>{129,19}</string>
                <key>textureRect</key>
                <string>{{216,62},{129,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_life_bar_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,19}</string>
                <key>spriteSourceSize</key>
                <string>{129,19}</string>
                <key>textureRect</key>
                <string>{{216,193},{129,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>map.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{196,362},{48,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{104,301},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,76}</string>
                <key>spriteSourceSize</key>
                <string>{103,86}</string>
                <key>textureRect</key>
                <string>{{1,301},{101,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>target_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{33,30}</string>
                <key>spriteSourceSize</key>
                <string>{33,34}</string>
                <key>textureRect</key>
                <string>{{216,1},{33,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>target_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1,379},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{93,393},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yuxiaoxue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{187,486},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>combat.png</string>
            <key>size</key>
            <string>{249,603}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b07e5769041c16459347a41c05b9912e:752d9bf6f67cdfbf33edf39472353b3b:c7df78f3faa1b8e688cdf67163665c40$</string>
            <key>textureFileName</key>
            <string>combat.png</string>
        </dict>
    </dict>
</plist>
