<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4V4_team_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,67}</string>
                <key>spriteSourceSize</key>
                <string>{141,67}</string>
                <key>textureRect</key>
                <string>{{1197,82},{141,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,65}</string>
                <key>spriteSourceSize</key>
                <string>{86,65}</string>
                <key>textureRect</key>
                <string>{{629,76},{86,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,49}</string>
                <key>spriteSourceSize</key>
                <string>{107,49}</string>
                <key>textureRect</key>
                <string>{{1507,79},{107,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,67}</string>
                <key>spriteSourceSize</key>
                <string>{272,67}</string>
                <key>textureRect</key>
                <string>{{923,82},{272,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,62}</string>
                <key>spriteSourceSize</key>
                <string>{116,62}</string>
                <key>textureRect</key>
                <string>{{1614,170},{116,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,69}</string>
                <key>spriteSourceSize</key>
                <string>{201,69}</string>
                <key>textureRect</key>
                <string>{{512,156},{201,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_bg2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,47}</string>
                <key>spriteSourceSize</key>
                <string>{17,47}</string>
                <key>textureRect</key>
                <string>{{1167,184},{17,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_bg_dc2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,24}</string>
                <key>spriteSourceSize</key>
                <string>{38,24}</string>
                <key>textureRect</key>
                <string>{{723,120},{38,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_bg_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,60}</string>
                <key>spriteSourceSize</key>
                <string>{191,60}</string>
                <key>textureRect</key>
                <string>{{923,151},{191,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,79}</string>
                <key>spriteSourceSize</key>
                <string>{368,79}</string>
                <key>textureRect</key>
                <string>{{923,1},{368,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,233}</string>
                <key>spriteSourceSize</key>
                <string>{169,233}</string>
                <key>textureRect</key>
                <string>{{752,1},{169,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chat1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,48}</string>
                <key>spriteSourceSize</key>
                <string>{49,48}</string>
                <key>textureRect</key>
                <string>{{1833,189},{49,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,63}</string>
                <key>spriteSourceSize</key>
                <string>{76,63}</string>
                <key>textureRect</key>
                <string>{{1580,1},{76,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>chat_input_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,7}</string>
                <key>spriteSourceSize</key>
                <string>{14,7}</string>
                <key>textureRect</key>
                <string>{{723,231},{14,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{1511,202},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>check_ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,26}</string>
                <key>spriteSourceSize</key>
                <string>{42,26}</string>
                <key>textureRect</key>
                <string>{{723,76},{42,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_card_option_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,237}</string>
                <key>spriteSourceSize</key>
                <string>{78,237}</string>
                <key>textureRect</key>
                <string>{{390,76},{78,237}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>common_frame1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,50}</string>
                <key>spriteSourceSize</key>
                <string>{55,50}</string>
                <key>textureRect</key>
                <string>{{1866,64},{55,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_frame2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,10}</string>
                <key>spriteSourceSize</key>
                <string>{44,10}</string>
                <key>textureRect</key>
                <string>{{390,156},{44,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_frame3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{49,52}</string>
                <key>textureRect</key>
                <string>{{1116,151},{49,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_frame4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,11}</string>
                <key>spriteSourceSize</key>
                <string>{15,11}</string>
                <key>textureRect</key>
                <string>{{475,156},{15,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_frame5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,37}</string>
                <key>spriteSourceSize</key>
                <string>{81,37}</string>
                <key>textureRect</key>
                <string>{{1373,202},{81,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common_frame6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,32}</string>
                <key>spriteSourceSize</key>
                <string>{53,32}</string>
                <key>textureRect</key>
                <string>{{1456,202},{53,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>default_avatar.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1373,1},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>delete_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{1507,1},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>female.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{12,17}</string>
                <key>textureRect</key>
                <string>{{456,156},{12,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_friend_information_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,99}</string>
                <key>spriteSourceSize</key>
                <string>{67,99}</string>
                <key>textureRect</key>
                <string>{{1732,170},{67,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_friend_information_bg_dc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,93}</string>
                <key>spriteSourceSize</key>
                <string>{387,93}</string>
                <key>textureRect</key>
                <string>{{1,76},{387,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>give.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,73}</string>
                <key>textureRect</key>
                <string>{{1762,1},{68,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_icon_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,112}</string>
                <key>spriteSourceSize</key>
                <string>{119,112}</string>
                <key>textureRect</key>
                <string>{{1648,1},{119,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,33}</string>
                <key>spriteSourceSize</key>
                <string>{273,33}</string>
                <key>textureRect</key>
                <string>{{1373,135},{273,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_name_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,13}</string>
                <key>spriteSourceSize</key>
                <string>{242,13}</string>
                <key>textureRect</key>
                <string>{{923,225},{242,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_name_option_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,237}</string>
                <key>spriteSourceSize</key>
                <string>{78,237}</string>
                <key>textureRect</key>
                <string>{{1293,1},{78,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ladder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,32}</string>
                <key>spriteSourceSize</key>
                <string>{29,32}</string>
                <key>textureRect</key>
                <string>{{1553,202},{29,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left_label_interface_dc3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,5}</string>
                <key>spriteSourceSize</key>
                <string>{16,5}</string>
                <key>textureRect</key>
                <string>{{1,236},{16,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>long_text_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,56}</string>
                <key>spriteSourceSize</key>
                <string>{509,56}</string>
                <key>textureRect</key>
                <string>{{1,171},{509,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>male.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,18}</string>
                <key>spriteSourceSize</key>
                <string>{12,18}</string>
                <key>textureRect</key>
                <string>{{436,156},{12,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>message.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,23}</string>
                <key>spriteSourceSize</key>
                <string>{22,23}</string>
                <key>textureRect</key>
                <string>{{1266,82},{22,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{723,204},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_list_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,28}</string>
                <key>spriteSourceSize</key>
                <string>{31,28}</string>
                <key>textureRect</key>
                <string>{{1167,151},{31,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,30}</string>
                <key>spriteSourceSize</key>
                <string>{239,30}</string>
                <key>textureRect</key>
                <string>{{1373,170},{239,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_team_interface_bg_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,51}</string>
                <key>spriteSourceSize</key>
                <string>{93,51}</string>
                <key>textureRect</key>
                <string>{{1771,76},{93,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>server_name_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,43}</string>
                <key>spriteSourceSize</key>
                <string>{76,43}</string>
                <key>textureRect</key>
                <string>{{1648,122},{76,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,42}</string>
                <key>spriteSourceSize</key>
                <string>{20,42}</string>
                <key>textureRect</key>
                <string>{{723,160},{20,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>slider_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{8,702}</string>
                <key>spriteSourceSize</key>
                <string>{8,702}</string>
                <key>textureRect</key>
                <string>{{19,229},{8,702}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{31,29}</string>
                <key>textureRect</key>
                <string>{{1616,79},{31,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>top_interface_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{749,73}</string>
                <key>spriteSourceSize</key>
                <string>{749,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{749,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>translucent_fillet_frame_bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,61}</string>
                <key>spriteSourceSize</key>
                <string>{74,61}</string>
                <key>textureRect</key>
                <string>{{1832,1},{74,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>translucent_fillet_frame_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{60,58}</string>
                <key>textureRect</key>
                <string>{{1833,129},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weixin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{46,43}</string>
                <key>textureRect</key>
                <string>{{1726,122},{46,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1922,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f9679c1be12468fdf5f03111494b847:d3b03ebb43a29bb68bd622d98227a83a:1f55903e2927f6cb72c625c6a594708e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
